{{#if success_message}}
    <div class="alert alert-success">{{success_message}}</div>
{{/if}}

{{#if error_message}}
    <div class="alert alert-danger">{{error_message}}</div>
{{/if}}

{{#each errors}}
    <div class="alert alert-danger">{{this.value}}</div>
{{/each}}
{{#if mine}}
    <div class="alert alert-danger">{{mine}}</div>
{{/if}}