<style type="text/css">
    #search{
        width: 130px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    /* When the input field gets focus, change its width to 100% */
    #search:focus {
        width: 300%;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/javascripts/search_ajax.js"></script>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">Online TESTING</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav"  >
            {{#if user.ishr}}
                <ul class="navbar-nav ml-auto">
                    <form autocomplete="off" action="#">
                        <div class="form-group autocomplete">
                            <input type="text" name="search" id="search" placeholder="Search.."class="form-control">
                        </div>
                    </form>
                </ul>
            {{/if}}
            <ul class="navbar-nav ml-auto" style="float: right">
                {{#if user}}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">{{user.name}}</a>
                        <div class="dropdown-menu">
                            {{#if user.ishr}}
                                <a href="/" class="dropdown-item">Post Job</a>
                                <a href="/users/hr" class="dropdown-item">My home page</a>
                                <a href="/jobs/ownerjobs" class="dropdown-item">show my jobs</a>
                            {{else}}
                                <a href="/" class="dropdown-item">Posted Jobs</a>
                                <a href="/users/user" class="dropdown-item">Home page</a>

                            {{/if}}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/users/logout" class="nav-link">Logout</a>
                    </li>
                {{else}}

                    <li class="nav-item">
                        <a href="/users/login" class="nav-link"> Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/register" class="nav-link">Register</a>
                    </li>
                {{/if}}
            </ul>
            <ul class="navbar-nav" style="float: right">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>