<div class="row">
    <div class="card card-body">
        <h3> choose the exams</h3>
        <li class="nav-item dropdown">
        <form action="/exams/solved/{{userid}}/{{job}}" method="post">

            <select name="selected_exam">
                <option name="java" value="java">java</option>
                <option name="python" value="python">python</option>
                <option name="english" value="english">english</option>
                <option name="iq" value="iq">iq</option>
            </select>


            <input type="submit" name="submit" class="btn btn-primary">

        </form>
    </div>
</div>