<div class="row">
    <div>
        <div class= "panel-body">
            <a class="btn btn-primary btn-block mb-2" href="/jobs/create_job">Create Job</a>
        </div>
        <div class="panel-body">
            <form action="/users/report" method="post">
                <button class="btn btn-primary btn-block mb-2" type="submit">Reports</button>
            </form>
        </div>

    </div>
</div>