<html>
<head>
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        <input type="text" name="username"><br>
        <input type="text" name="email"><br>
        <input type="text" name="phone_number"><br>
        <input type="text" name="address_name"><br>
        <input type="password" name="password"><br>
        <input type="submit" name="submit">
    </form>
</body>

</html>