<div class="row">
    <div class="form-group">
        <label>name: {{user.name}}</label>
        <label>username: {{user.username}}</label>
        <label>email: {{user.email}}</label>
        <label>Birthday: {{user.BOD}}</label>
    </div>
    <form action="/users/view_cv" method="get">
        <input type="submit" name="View CV" class="btn btn-primary">
    </form>
</div>