<div class="card card-body">
    <h3 class="test-muted">Questions</h3>
    <br/>
    <div class="card-deck mb-3">
        {{#each questions}}
            <div class="card card-body mb-2">
                <h4>{{the_question}}</h4>
                <a class="btn btn-primary btn-block mb-2" href="/questions/view_question/{{_id}}">View</a>
            </div>

        {{else}}
            <p>No questions found !!</p>
        {{/each}}
    </div>

    <!--
    <a class="btn btn-primary btn-block mb-2" href="/questions/add_question">Add Topic</a>
    -->

</div>