<div class="card card-body">
    <h3 class="test-muted">My Posted Jobs</h3>
<br/>
<div class="card-deck mb-3">
    {{#each jobs}}
<div class="card card-body mb-2">
    <h4>{{title}}</h4>
<p>{{description}}</p>
<a class="btn btn-primary btn-block mb-2" href="/jobs/view/{{_id}}">View</a>
    </div>

{{else}}
<p>No jobs posted</p>
{{/each}}
</div>

<a class="btn btn-primary btn-block mb-2" href="/jobs/create_job">Create Job</a>

</div>