<!--<div class="row">-->
    <div class="panel panel-default">
        <div class="panel-heading">Title</div>
        <div class="panel-body">{{job.title}}</div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">Description</div>
        <div class="panel-body">{{job.description}}</div>
    </div>
    <form action="/jobs/apply_form/{{job._id}}" method="get">
            <button type="submit" class="btn btn-primary">Apply</button>
    </form>

<!--</div>-->