<div class="card card-body">
    <h3 class="test-muted">Exam Types</h3>
    <br/>
    <div class="card-deck mb-3">
        {{#each exam_types}}
            <div class="card card-body mb-2">
                <h4>{{type_name}}</h4>
                <a class="btn btn-primary btn-block mb-2" href="/exam_types/view_exam_type/{{_id}}">View</a>
            </div>

        {{else}}
            <p>No exam types found !!</p>
        {{/each}}
    </div>

    <!--
    <a class="btn btn-primary btn-block mb-2" href="/topics/add_topics">Add Topic</a>
    -->

</div>